<% const pageInformation = {title:'ログイン画面',description:'ログイン画面' };
%> <%-include('partials/header', {pageInfo:pageInformation}); %>
<main>
  <div class="login-box">
    <p id="login-text">ログイン</p>
    <div class="row">
      <form action="/login" method="post" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input
              id="email"
              type="email"
              class="validate"
              name="email"
              value=""
              required="required"
              minlength="1"
            />
            <label for="email">Email</label>
            <% if(messages ==='Not written Email'){ %>
            <div class="error-box">
              <p class="error-messeage"><%='メールアドレスが未入力です。' %></p>
            </div>
            <% }%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input
              type="password"
              id="password"
              name="password"
              class="validate"
              required="required"
              minlength="1"
            />
            <label for="password">Password</label>

            <% if(messages ==='Not written password'){ %>
            <div class="error-box">
              <p class="error-messeage"><%='パスワードが未入力です' %></p>
            </div>
            <% }%>
          </div>
        </div>
        <div class="submit-box">
          <input
            id="submit-btn"
            type="submit"
            value="ログイン"
            class="waves-effect waves-light btn"
          />
          <label for="submit-btn"></label>
        </div>
        <% if(messages ==='Not Found User'){%>
        <p id="login-unmatch">
          <%= 'メールアドレスまたはパスワードが正しくありません。' %>
        </p>
        <% } %>
      </form>
    </div>
    <a href="/requestpassword">パスワードを忘れてしまった </a>
    <a href="/">トップ画面に戻る </a>
  </div>
</main>
<%- include('partials/footer'); %>
