<% const pageInformation = {title:'ログイン画面',description:'ログイン画面' };
%> <%-include('partials/header', {pageInfo:pageInformation}); %>
<main>
  <div class="login-box">
    <p id="login-text">ログイン</p>
    <div class="row">
      <form action="/login" method="post" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input
              id="email"
              type="email"
              class="validate"
              name="email"
              value=""
              required="required"
              minlength="1"
            />
            <label for="email">Email</label>
            <% if(messages[0] ==='Not written Email'){ %>
            <div class="error-box">
              <p class="error-messeage"><%='メールアドレスが未入力です。' %></p>
            </div>
            <% }%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input
              type="password"
              id="password"
              name="password"
              class="validate"
              required="required"
              minlength="1"
            />
            <label for="password">Password</label>

            <% if(messages[0] ==='Not written password'){ %>
            <div class="error-box">
              <p class="error-messeage"><%='パスワードが未入力です' %></p>
            </div>
            <% }%>
          </div>
        </div>
        <div class="submit-box">
          <input
            id="submit-btn"
            type="submit"
            value="ログイン"
            class="waves-effect waves-light btn"
          />
          <label for="submit-btn"></label>
        </div>
        <% if(messages[0] ==='Not found Email'){%>
        <p id="login-unmatch"><%= 'メールアドレスが正しくありません。' %></p>
        <% } %> <% if(messages[0] ==='Not found Password'){%>
        <p id="login-unmatch"><%= 'パスワードが正しくありません。' %></p>
        <% } %>
      </form>
    </div>
    <a href="/requestpassword">パスワードを忘れてしまった </a>
    <a href="/">トップ画面に戻る </a>
  </div>
</main>

<script>
  const form = document.getElementsByTagName("form")[0];
  console.log(form);
  form.addEventListener("submit", function (event) {
    const $email = document.getElementById("email").value;
    const $password = document.getElementById("password").value;
    console.log($email);
    console.log($password);
    //文字列で取得できない。
    const error = [$email, $password];
    console.log(typeof email);
    console.log(error);
    if (error[0] === "") {
      // イベントをキャンセルしてフォームの送信を止めます。
      event.preventDefault();
      showError("メールアドレス");
    }
    if (error[1] === "") {
      event.preventDefault();
      showError("パスワード");
    }
  });

  function showError(message) {
    console.log("ERROR");
    //ノードを追加できない。
    const $errorMessageWrapper = document.getElementsByClassName(
      "input-field col s12"
    );
    console.log($errorMessageWrapper[0]);
    const errorBox = document.createElement("div");
    const p = document.createElement("p");
    const errorMessage = document.createTextNode(`${message}が未入力です。`);
    console.log(errorMessage);
    p.style.color = "red";
    p.appendChild(errorMessage);
    errorBox.appendChild(p);
    if (message === "メールアドレス") {
      $errorMessageWrapper[0].appendChild(errorBox);
    }
    if (message === "パスワード") {
      $errorMessageWrapper[1].appendChild(errorBox);
    }
  }
</script>
<%- include('partials/footer'); %>
